<!doctype html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "The Middleman" %></title>

  <%= stylesheet_link_tag "all" %>
</head>

<body>
  <div id="container">
    <article class="section title">
      <div class="content">

        <p><em><%= current_page.data.articles.first.title %></em></p>
        <p><em><%= current_page.data.articles.last.title %></em></p>
        <p>Starting from the<%= current_page.data.articles.first.title %> article on Wikipedia, most users finish up at the <%= current_page.data.articles.last.title %> article.
          Its the most popular trail starting from 'Earth'.
        </p>
        <p>Trails show the <em>serendipity</em> and the <em>goofiness</em> of reading Wikipedia. Today is <em>day 1</em> of a handpicked topic trail from the top 100 Wikipedia articles. 100 Days of trails is made with love over chai and sandwiches.</p>
      </div>
    </article>
    <% current_page.data.articles.each_with_index do |article, i| %>
    <article class="section card">
      <div class="image scroll-fixed" style="background-image: url(<%= article.image_url %>);"></div>
      <div class="content">
        <h1><%= article.title %></h1>
        <p><%= article.extract %></p>
        <ul class="breadcrumb">
          <% current_page.data.articles[0..i+1].each_with_index do |breadcrumb, j| %>
          <% if i != j %>
          <li><a href="#"><%= breadcrumb.title %></a></li>
          <% else %>
          <li class="current"><%= breadcrumb.title %></li>
          <% end %>
          <% end %>
        </ul>
        <footer>
          <p class="stats"><em><%= article.distinct_authors %> unique authors </em> co-authored the <%= article.title %> article.</p>
          Also, <%= article.title %> was started
          <% if article.started_by_anonymous %>
          by an <em>anonymous user</em>
          <% end %>
          in <%= article.creation_date %>.</p>
        </footer>
      </div>
    </article>
    <% end %>
    <article class="section summary">
      <div class="content">
        <button class="about"></button>
        <ul>
          <% current_page.data.articles.each do |article| %>
          <li><%= article.title %></li>
          <% end %>
        </ul>
        <footer></footer>
      </div>
    </article>
  </div>
</div>


<aside class="overlay">
  <button class="close"></button>
  <div class="content">
    <p>
      100 Days of Wikipedia Trails is an experiment which visualizes popuar trails for the top hundered Wikipedia articles and trending topics, one popular article at a time. <br>
      Data was collected from XYZ Data Sets. </p><br>
      Trails was made by <a href="www.twitter.com/vibhabamba">Vibha</a> and <a href="www.twitter.com/jgonera">Juliusz</a>
      <p><a href="https://twitter.com/share" class="twitter-share-button" data-via="vibhabamba" data-size="large">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
    </div>
  </aside>

  <%= javascript_include_tag "all" %>
</body>
</html>
